html { 
  background-size: cover;
  height: auto;
  width: 100%;
}

.login {
  position: absolute;
  background: url("./img/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.login--header {
  text-align: center;
  font-size: 112px;
  color: rgba(0, 0, 0, 0.87);
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.login--form {
  width: auto;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.login--form-group {
 width: 20em;
 height: auto;
 margin: 32px; 
}

.login--form-switch {
  width: auto;
  height: auto;
  margin: 8px; 
  top: 0%;
  transform: translate(0%, -50%);
}

.switch {
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.switch-off {
  background-color: #ffffff !important;
}

.switch-off.btn-lg.btn {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.switch-on.btn-lg.btn {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.login--form-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 40%);
  border-radius: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

.login--form-ctrl {
  background-color: #d8d8d8 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  text-align: center
}

.form-label {
  display: block !important;
  text-align: center !important; 
}

.login--paragraph {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 16px;
}

.login--signin {
  border-radius: 0 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.login--signin:hover {
  text-decoration: underline;
}

.login--form-label {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}


.register {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #2929303d;
}

.options {
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.options--figure {
  margin: 32px;
  width: 20em;
  display: inline-block;
  border: 1px solid rgb(226, 226, 226);
}

.options--btn {
  width: 100%;
  border-radius: 0 !important;
}

.options--btn-back {
  position: absolute;
  border-radius: 0 !important;
  right: 0%;
  top: 0%;
  width: 2em;
  height: 2em;
  transform: translate(6px, -6px);
  border: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);

}

.options--icon {
  width: 100%;
  height: 100%;
}

.options--svg {
  position: relative;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}